<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{%static 'css/consultation.css'%}" rel="stylesheet"/>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
<div class=e2_3>
    <div class="e2_4"></div>
    <span class="e2_39">Moqzilla</span>
    <div class="e2_5"></div>
    <div class="e2_6"></div>
    <div class="e2_7"></div>
    <div class="e2_8"></div>
    <div class="e2_9"></div>
    <div class="e2_10"></div>
    <span class="e2_57">Placeholder</span>
    <div class="e2_11"></div>
    <span class="e2_58">Placeholder</span>
    <div class="e2_12"></div>
    <div class="e2_14"></div>
    <div class="e2_15"></div>
    <div class="e2_16"></div>
    <div class="e2_20"></div>
    <div class="e2_21"></div>
    <div class="e2_23"></div>
    <div class="e2_24"></div>
    <div class="e2_26"></div>
    <div class="e2_27"></div>
    <div class="e2_32"></div>
    <div class="e2_33"></div>
    <div class="e2_34"></div>
    <div class="e2_35"></div>
    <div class="e2_36"></div>
    <span class="e2_41">https://moqups.com</span><span class="e2_42">Clinic Name</span><span class="e2_45">Physician Name</span><span
        class="e2_46">Patient First Name</span><span class="e2_47">Patient DOB</span><span
        class="e2_48">Clinic Logo</span><span class="e2_49">Physician Contact</span><span class="e2_51">Patient Last Name</span><span
        class="e2_52">Patient Contact</span><span class="e2_60">Placeholder</span><span class="e2_53">Placeholder</span><span
        class="e2_55">Placeholder</span><span class="e2_56">Placeholder</span><span
        class="e2_61">Placeholder</span><span class="e2_62">Placeholder</span><span
        class="e2_63">Placeholder</span><span class="e2_65">Placeholder</span><span class="e2_66">Chief Complaint</span><span
        class="e2_67">Max 5000 characters allowed</span><span class="e2_68">Consultaion Note</span><span class="e2_69">Max 5000 characters allowed</span><span
        class="e2_70">Formats</span><span class="e2_71">Formats</span> <a class="e2_72" href="{%url 'create-pdf' %}">Generate
    Report</a>

    <div class=e3_81>
        <div class="e3_82"></div>
        <div class="e3_83"></div>
    </div>
    <div class="e2_73"></div>
    <div class="e2_74"></div>
    <div class="e7_6"></div>
    <div class="e7_12"></div>
    <div class="e7_18"></div>
    <div class="e7_15"></div>
    <div class="e7_9"></div>
</div>
</body>
</html>