.2_3 {
	overflow:hidden;
	border:1px solid rgba(0, 0, 0, 1);
}
.e2_3 {
	background-color:rgba(255, 255, 255, 1);
	width:666px;
	height:984px;
	position:absolute;
}
.e2_4 {
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:666px;
	height:61px;
	position:absolute;
	left:2.842170943040401e-14px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.2_4 {
	border:1px solid rgba(0, 0, 0, 1);
}
.e2_39 {
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:15px;
	position:absolute;
	left:325px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e2_5 {
	background-color:rgba(255, 255, 255, 1);
	width:509px;
	height:20px;
	position:absolute;
	left:97px;
	top:32px;
}
.2_5 {
	border:1px solid rgba(0, 0, 0, 1);
}
.e2_6 {
	background-color:rgba(255, 255, 255, 1);
	width:581px;
	height:232px;
	position:absolute;
	left:41px;
	top:350px;
}
.2_6 {
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e2_7 {
	background-color:rgba(255, 255, 255, 1);
	width:176px;
	height:36px;
	position:absolute;
	left:149px;
	top:78px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.2_7 {
	border:1px solid rgba(0, 0, 0, 1);
}
.e2_8 {
	background-color:rgba(255, 255, 255, 1);
	width:176px;
	height:36px;
	position:absolute;
	left:149px;
	top:141px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.2_8 {
	border:1px solid rgba(0, 0, 0, 1);
}
.e2_9 {
	background-color:rgba(255, 255, 255, 1);
	width:176px;
	height:36px;
	position:absolute;
	left:149px;
	top:208px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.2_9 {
	border:1px solid rgba(0, 0, 0, 1);
}
.e2_10 {
	background-color:rgba(255, 255, 255, 1);
	width:176px;
	height:36px;
	position:absolute;
	left:149px;
	top:267px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.2_10 {
	border:1px solid rgba(0, 0, 0, 1);
}
.e2_57 {
	color:rgba(0, 0, 0, 1);
	width:70px;
	height:20px;
	position:absolute;
	left:189px;
	top:275px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e2_11 {
	background-color:rgba(255, 255, 255, 1);
	width:176px;
	height:36px;
	position:absolute;
	left:446px;
	top:78px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.2_11 {
	border:1px solid rgba(0, 0, 0, 1);
}
.e2_58 {
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:70px;
	height:20px;
	position:absolute;
	left:189px;
	top:149px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e2_12 {
	background-color:rgba(255, 255, 255, 1);
	width:176px;
	height:36px;
	position:absolute;
	left:446px;
	top:141px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.2_12 {
	border:1px solid rgba(0, 0, 0, 1);
}
.e2_14 {
	background-color:rgba(255, 255, 255, 1);
	width:176px;
	height:36px;
	position:absolute;
	left:446px;
	top:208px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.2_14 {
	border:1px solid rgba(0, 0, 0, 1);
}
.e2_15 {
	background-color:rgba(255, 255, 255, 1);
	width:176px;
	height:36px;
	position:absolute;
	left:446px;
	top:267px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.2_15 {
	border:1px solid rgba(0, 0, 0, 1);
}
.e2_16 {
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:581px;
	height:40px;
	position:absolute;
	left:41px;
	top:350px;
}
.2_16 {
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e2_20 {
	transform: rotate(-90.84588656623582deg);
	width:31.963626861572266px;
	height:0px;
	position:absolute;
	left:96.97193145751953px;
	top:386px;
}
.2_20 {
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e2_21 {
	transform: rotate(-90.00000000000001deg);
	width:31.959999084472656px;
	height:0px;
	position:absolute;
	left:189px;
	top:386px;
}
.2_21 {
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e2_23 {
	transform: rotate(-90.00000000000004deg);
	opacity:0.5;
	width:31.96000099182129px;
	height:0px;
	position:absolute;
	left:255px;
	top:386px;
}
.2_23 {
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e2_24 {
	transform: rotate(-90deg);
	width:31.959999084472656px;
	height:0px;
	position:absolute;
	left:374px;
	top:386px;
}
.2_24 {
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e2_26 {
	background-color:rgba(255, 255, 255, 1);
	width:581px;
	height:226px;
	position:absolute;
	left:41px;
	top:614px;
}
.2_26 {
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e2_27 {
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:581px;
	height:40px;
	position:absolute;
	left:41px;
	top:614px;
}
.2_27 {
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e2_32 {
	transform: rotate(-90.00000000000003deg);
	width:31.959999084472656px;
	height:0px;
	position:absolute;
	left:97px;
	top:649.9600219726562px;
}
.2_32 {
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e2_33 {
	transform: rotate(-90.00000000000001deg);
	width:31.959999084472656px;
	height:0px;
	position:absolute;
	left:189px;
	top:649.9600219726562px;
}
.2_33 {
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e2_34 {
	transform: rotate(-90.00000000000004deg);
	width:31.959999084472656px;
	height:0px;
	position:absolute;
	left:255px;
	top:649.9600219726562px;
}
.2_34 {
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e2_35 {
	transform: rotate(-90.00000000000001deg);
	width:31.959999084472656px;
	height:0px;
	position:absolute;
	left:374px;
	top:649.9600219726562px;
}
.2_35 {
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e2_36 {
	background-color:rgba(65.74743881821632, 0, 252.87500202655792, 1);
	width:127px;
	height:33px;
	position:absolute;
	left:274px;
	top:871px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e2_41 {
	color:rgba(3.176872730255127, 73.44934433698654, 254.15000081062317, 1);
	width:115px;
	height:15px;
	position:absolute;
	left:103px;
	top:35px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e2_42 {
	color:rgba(0, 0, 0, 1);
	width:74px;
	height:24px;
	position:absolute;
	left:60px;
	top:90px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e2_45 {
	color:rgba(0, 0, 0, 1);
	width:98px;
	height:20px;
	position:absolute;
	left:35px;
	top:149px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e2_46 {
	color:rgba(0, 0, 0, 1);
	width:114px;
	height:20px;
	position:absolute;
	left:19px;
	top:216px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e2_47 {
	color:rgba(0, 0, 0, 1);
	width:75px;
	height:20px;
	position:absolute;
	left:58px;
	top:275px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e2_48 {
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:20px;
	position:absolute;
	left:372px;
	top:91px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e2_49 {
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:20px;
	position:absolute;
	left:329px;
	top:149px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e2_51 {
	color:rgba(0, 0, 0, 1);
	width:113px;
	height:16px;
	position:absolute;
	left:327px;
	top:215px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e2_52 {
	color:rgba(0, 0, 0, 1);
	width:96px;
	height:20px;
	position:absolute;
	left:344px;
	top:275px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e2_60 {
	color:rgba(0, 0, 0, 1);
	width:70px;
	height:20px;
	position:absolute;
	left:499px;
	top:90px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e2_53 {
	color:rgba(0, 0, 0, 1);
	width:70px;
	height:20px;
	position:absolute;
	left:189px;
	top:90px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e2_55 {
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:70px;
	height:20px;
	position:absolute;
	left:189px;
	top:148px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e2_56 {
	color:rgba(0, 0, 0, 1);
	width:70px;
	height:20px;
	position:absolute;
	left:189px;
	top:216px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e2_61 {
	color:rgba(0, 0, 0, 1);
	width:70px;
	height:20px;
	position:absolute;
	left:499px;
	top:148px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e2_62 {
	color:rgba(0, 0, 0, 1);
	width:70px;
	height:20px;
	position:absolute;
	left:499px;
	top:216px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e2_63 {
	color:rgba(0, 0, 0, 1);
	width:70px;
	height:20px;
	position:absolute;
	left:189px;
	top:149px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e2_65 {
	color:rgba(0, 0, 0, 1);
	width:70px;
	height:20px;
	position:absolute;
	left:499px;
	top:275px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e2_66 {
	color:rgba(0, 0, 0, 1);
	width:99px;
	height:25px;
	position:absolute;
	left:41px;
	top:325px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e2_67 {
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:20px;
	position:absolute;
	left:436px;
	top:327px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e2_68 {
	color:rgba(0, 0, 0, 1);
	width:107px;
	height:20px;
	position:absolute;
	left:41px;
	top:594px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e2_69 {
	color:rgba(0, 0, 0, 1);
	width:182px;
	height:20px;
	position:absolute;
	left:440px;
	top:594px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e2_70 {
	color:rgba(0, 0, 0, 1);
	width:61px;
	height:20px;
	position:absolute;
	left:108px;
	top:360px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e2_71 {
	color:rgba(0, 0, 0, 1);
	width:61px;
	height:20px;
	position:absolute;
	left:108px;
	top:626px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e2_72 {
	color:rgba(255, 255, 255, 1);
	width:102px;
	height:20px;
	position:absolute;
	left:282px;
	top:878px;
	font-family:Inter;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}
.e3_81 {
	width:18px;
	height:22px;
	position:absolute;
	left:219px;
	top:360px;
}
.e3_82 {
	width:18px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_83 {
	background-color:rgba(0, 0, 0, 1);
	width:10px;
	height:15px;
	position:absolute;
	left:4.5px;
	top:3.6666667461395264px;
}
.e2_73 {
	width:27px;
	height:42px;
	position:absolute;
	left:7px;
	top:19px;
	background-image:url(images/left.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_74 {
	width:27px;
	height:42px;
	position:absolute;
	left:40px;
	top:19px;
	background-image:url(images/arrow.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e7_6 {
	background-color:rgba(0, 0, 0, 1);
	width:10px;
	height:17px;
	position:absolute;
	left:199px;
	top:363px;
}
.e7_12 {
	background-color:rgba(0, 0, 0, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:265px;
	top:364px;
}
.e7_18 {
	background-color:rgba(0, 0, 0, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:291px;
	top:364px;
}
.e7_15 {
	background-color:rgba(0, 0, 0, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:317px;
	top:364px;
}
.e7_9 {
	background-color:rgba(0, 0, 0, 1);
	width:16px;
	height:16px;
	position:absolute;
	left:344px;
	top:364px;
}
